<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee - Edit</title>
</head>
<body>

    <div class="container">

        <div class="card">
            <div class="card-header bg-dark text-white">
                <h4 calss="mb-0">Update Employee</h4>
            </div>
            <div class="card-body">
                <form th:action="@{/employees/update/{id}(id=${employee.empid})}"
                      th:object="${employee}"
                      method="post"
                      class="form-horizontal">
                    <div class="form-group row">
                        <label for="inputEmpid" class="col-sm-2 col-form-label">Employee id</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmpid" th:field="*{empid}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstname" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputFirstname" th:field="*{firstname}" aria-describedby="fnameHelp">
                            <small id="fnameHelp" class="form-text text-muted">Enter first name</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLastname" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLastname" th:field="*{lastname}" aria-describedby="lnameHelp">
                            <small id="lnameHelp" class="form-text text-muted">Enter last name</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" th:field="*{email}" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Enter Email address</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSbg" class="col-sm-2 col-form-label">Sbg</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputSbg" th:field="*{sbg}" aria-describedby="sbgHelp">
                                <option th:value="'AERO'" th:text="AERO"></option>
                                <option th:value="'CORP'" th:text="CORP"></option>
                                <option th:value="'HBT'" th:text="HBT"></option>
                                <option th:value="'PMT'" th:text="PMT"></option>
                                <option th:value="'SPS'" th:text="SPS"></option>
                            </select>
                            <small id="sbgHelp" class="form-text text-muted">Select SBG</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputCountry" class="col-sm-2 col-form-label">Country</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCountry" th:field="*{country}" aria-describedby="countryHelp">
                            <small id="countryHelp" class="form-text text-muted">Enter Country</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputStatus" th:field="*{status}" aria-describedby="statusHelp">
                                <option th:value="'Active'" th:text="Active"></option>
                                <option th:value="'Vacations'" th:text="Vacations"></option>
                                <option th:value="'Terminated'" th:text="Terminated"></option>
                            </select>
                            <small id="statusHelp" class="form-text text-muted">Select employee status</small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update Employee</button>
                </form>
            </div>
        </div>

    </div>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>